NODE_ENV=development

DEV_DATABASE_URL=postgres://postgres@127.0.0.1:5432/eagles
TEST_DATABASE_URL=postgres://postgres@127.0.0.1:5432/testing_db
DATABASE_URL=postgres://postgres@127.0.0.1:5432/eagles

GOOGLE_CONSUMER_KEY=990293926324-r8idi5fn52743p16bbkelddmv9uepqp0.apps.googleusercontent.com
GOOGLE_CONSUMER_SECRET=lhqR1-cxqM4iFuzfaW2jp60a

FACEBOOOK_APP_ID=994307664399888
FACEBOOK_APP_SECRET=9b74c7b7505e63c8e5b26b2546465dfe

BASE_URL=http://localhost:4000

JWT_SECRET=secret

MAILGUN_APIKEY= 34316286f57fa5522295ee3b1852f605-53c13666-91f07cab
JWT_k= 3467vds8934fd67892sb34567
CLIENT_URL= localhost:4000/api/
MAILGUN_API_KEY=d61ed5e551e8fd0cbaa392b8bcef3b9d-53c13666-68b980f5
DOMAIN_NANE=sandbox5d625250a1ca4d66b15a2d18094aaa03.mailgun.org
SENDER_EMAIL=noreply@barefootnordmad.com
JWT_ACCOUNT_VEIRIFICATION=
USER_URL=http://localhost:3000
