node_modules
package-lock.json
.env
.nyc_output/
build/
coverage/
.idea
.nyc_output/
pgdata
.DS_Store
src/database/models/SequelizeMeta.js
src/database/models/init-models.js
src/database/models/trip.js
src/database/models/Users.js
.dump.rdb
